.container
  .row
    .col-md-12
      .well.lead= @message.metar.full_report

  .row
    .col-md-12
      - @message.languages.each do |lang|
        .well= @message.render_in lang.to_sym

  .row
    .col-md-12
      %h3 DATA
  .row
    .col-md-12= render "metar/table", metar: @message.metar
